body {
			background: 	 #cce6ff;
			color: #767270;
			padding: 1%;
			font-size: 14px;
			font-family: verdana, sans-serif;

		}
		
		.sidebar {
			width:30%;
			display: inline-block;
			margin-left: 10%;
			background: #b3b3ff;
			color: white;
		}

		img {
			width: 100%;
		}

		.sidebar-top { position: relative; }

		.profile-basic {
			position: absolute;
			bottom: 0px;
			left: 50px;
			color: #b3b3ff;
		}

		.profile-info {
			padding: 20px 10px;
			border-bottom: 1px solid #4783c2;
			color: #1a1aff;
		}

		 .profile-info p{
			margin-left: 10px;
			display: inline-block;
			vertical-align: top;
		}

		.profile-info .key{
			font-weight: bold;	
		}

		.profile-info .value{
		}

		.social-media:hover{
			cursor: pointer;
			color: white;
		}

		.content {
			width: 50%;
			margin-left: 0.5%;
			display: inline-block;
			vertical-align: top;
		}

		.achievment, .education, .Other-Activity {
			margin-bottom: 10px;
			padding: 3% 1% 3% 7%;
			background: white;
			box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		}

		.info {
			padding: 2% 1%;
			border-bottom: 1px solid #bdbdbd;
		}
    
    
    .heading{
     font-family: 'Patua One', cursive;
    }

		.sub-heading { 
      font-weight: bold;       
    }

		.duration {
			color: #5da4d9;
			font-size:12px;
		}

.profileBox{
  width: 94%;
  padding: 3%;
  background: #b3b3ff;


}
.profileBox h1{

      position: absolute;
    width: 70%;
    bottom: -2px;
    background: rgba(0,0,0,0.8);
    text-align: center;
    padding: 9px 0;
}
    
    .fa {
      color: blue;
      font-size: 30px;
    }
